doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title #{title}
        // Bootstrap core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/themes/nest.css")
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        // Nav bar
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
            a.navbar-brand(href='/') Go High Level Outlook App
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item(class={'active': active.home})
                        a.nav-link(href='/') Home
                    if user
                        li.nav-item(class={'active': active.inbox })
                            a.nav-link(href='/mail') Inbox
                        li.nav-item(class={'active': active.calendar})
                            a.nav-link(href='/calendar') Calendar
                ul.navbar-nav.justify-content-end
                    if user
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') #{user}
                            .dropdown-menu
                                a.dropdown-item(href='/authorize/signout') Sign Out
                    else
                        li.nav-item
                            a.nav-link(href=signInUrl) Sign In

        // Main body
        main.container(role='main')
            block content

        //
        //- Bootstrap core JavaScript
        //- ==================================================
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js")
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        script(src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js")
        script(src="scripts/common.js")