extend /layout
block content
    if user
        h3 Welcome #{user}
    else 
        h4 Sign In to View Calendar Events
    // Debug output
    if debug
        .card
            .card-body
                h5.card-title Debug
                pre.bg-light.border.p-3
                    code #{debug}